.topCatalog {
  min-height: 148px;
  background: #F8F3F4;
  margin-bottom: 51px;
}

.topCatalogAlign {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topCatalogAlign h1 {
  font-weight: normal;
  font-size: 24px;
}

@media (max-width: 767px) {
  .topCatalogAlign h1 {
    margin: 24px 0 32px;
  }
}

.topCatalogAlign nav a {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}

.topCatalogAlign nav span {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #636363;
  margin: 0 3px;
}

.topCatalogAlign .newArriv {
  color: #F16D7F;
  font-weight: 700;
}

@media (max-width: 1599px) {
  .topCatalogAlign {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .topCatalogAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.filterAligment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1024px) {
  .filterAligment {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 304px 64px 20px;
  position: relative;
  z-index: 4;
}

@media (max-width: 1024px) {
  .filter {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.playFilterActive {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 767px) {
  .playFilterActive {
    display: none;
  }
}

.playFilterActive img {
  width: 15px;
  height: 10px;
  margin-left: 13px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .filterListIcon {
    width: 37px;
    height: 25px;
  }
}

.filterMenu {
  position: relative;
}

@media (max-width: 1024px) {
  .filterMenu {
    width: 20%;
  }
}

.filterHidden {
  display: none;
}

.filterActive {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 46px;
  padding-left: 17px;
  width: 360px;
  height: 530px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  z-index: 3;
  margin-top: -95px;
  margin-left: 0;
}

.filterActive .olderFilter {
  list-style-type: none;
  color: #EF5B70;
}

.filterActive .olderFilter > li:last-child {
  margin-top: 29px;
}

.filterActive .olderFilter .olderFilterBord {
  padding: 11px;
  padding-right: 238px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 15px;
}

.filterActive .olderFilter a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filterActive .olderFilter .jrFilter {
  margin: 24px;
  list-style-type: none;
  font-size: 14px;
  line-height: 29px;
  color: #6F6E6E;
}

.filterLabelPink {
  color: #EF5B70;
}

.filterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.formSize div {
  margin-right: 28px;
}

@media (max-width: 767px) {
  .formSize div {
    font-size: 12px;
    line-height: 14px;
    margin-right: 20px;
  }
}

.formSize i {
  margin-left: 9px;
}

@media (max-width: 767px) {
  .formSize i {
    font-size: 12px;
    line-height: 14px;
  }
}

.sizeIconList {
  position: absolute;
  display: none;
  margin-left: 142px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px;
  width: 79px;
  height: 103px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sizeIconList .iconFilter {
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.sizeIconList span {
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-left: 9px;
}

.sizeIconList div {
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
}

.size {
  position: relative;
}

.size:hover .sizeIconList {
  display: block;
}

.pages {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 283px;
  height: 43px;
  margin-top: 48px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
}

.pages div a {
  font-family: Lato sans-serif;
  font-style: normal;
  color: #EBEBEB;
  margin: 0 8px;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.pages div a:active {
  color: #EF5B70;
}
/*# sourceMappingURL=styleCatalog.css.map */